Repository bloggure/bloggure.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.{js,scss,css,md}": [
    "prettier --write",
    "git add"
  ]
}

fix: resolve npm dependency conflict by downgrading eslint to v8
  package-lock.json
  package.json
Due: none

deploy: f29f09350bb66baa7313c282954d672d7bbf9378
  feed.xml
  package-lock.json
Due: none

fix: resolve eslint issues and update ci/cd workflow
  .eslintrc.js
  .github/workflows/ci-cd.yml
  assets/js/_main.js
Due: eslint --fix, prettier --write

deploy: 2e9a91b40651587705bdd3d10dc46ce6147446f7
  feed.xml
Due: none

fix: resolve webpack build failures
  assets/js/plugins/jquery.fitvids.js
  package-lock.json
  package.json
  webpack.config.js
Due: eslint --fix, prettier --write

deploy: 442d53056e1b1259bb4653ffd6a3c0e00fd0ab02
  assets/js/plugins/jquery.fitvids.js
  feed.xml
  package-lock.json
  webpack.config.js
Due: eslint --fix, prettier --write

chore: update .gitignore to exclude generated files
  .gitignore
Due: none

deploy: b1b9d0585bd5fd431f99e93a6a720c431ee28759
  feed.xml
Due: none

fix: resolve image optimization failures
  package.json
  scripts/optimize-images.mjs
Due: none

deploy: 72eb68b766d73b42707b4e4660608b846dee3c45
  feed.xml
  scripts/optimize-images.mjs
Due: none

deploy: b5f6ad7c2080b3470640b10d42ee6f234047c270
  assets/js/scripts.min.js.LICENSE.txt
  feed.xml
  package-lock.json
Due: none

fix: resolve svg optimization failures
  package.json
  scripts/optimize-svg.mjs
Due: none

chore(): optimize further
  Gruntfile.js
  _includes/head.html
  _includes/scripts.html
  assets/js/_main.js
  assets/js/plugins/jquery.fitvids-old.js
  assets/js/plugins/jquery.magnific-popup-old.js
  assets/js/plugins/respond.js
  assets/js/scripts.min.js
  assets/js/vendor/jquery-1.9.1.min.js
  assets/js/vendor/modernizr-2.6.2.custom.min.js
  assets/js/vendor/modernizr-3.12.0.min.js
  assets/js/vendor_backup/jquery-1.9.1.min.js
  assets/js/vendor_backup/modernizr-2.6.2.custom.min.js
  package.json
  webpack.config.js
Due: eslint --fix, prettier --write

post(): shortcut bill renaming
  _posts/2026-01-07-Shortcut_bill_renaming.md
  images/post/shortcut-editor.png
Due: prettier --write

feat(footer): add links to the footer
  _includes/footer.html
  assets/js/scripts.min.js
  assets/js/scripts.min.js.LICENSE.txt
Due: eslint --fix, prettier --write

post(): pageSheet background effect fix
  _posts/2026-01-27-ios-sheetpresentationcontroller-background-effect.md
  _sass/_site.scss
  images/.DS_Store
  images/post/sheet-262-fixed.png
  images/post/sheet-262-issue.png
Due: prettier --write
